
Summary
/www.causematch.com
/www.charityextra.com
while these 2 sites do not have a sitemap, we would need to scrape the nonprofits running campaigns on these sites. the scrape will need to include the amount raised, number of donors, date of the campaign, and associated emails/ phone numbers and the name of the nonprofit 
